.dashboard-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 345px;
  height: 1024px;
  mix-blend-mode: exclusion;
}
.dashboard-item {
  position: absolute;
  top: 31px;
  left: 78px;
  border-radius: 50%;
  width: 188px;
  height: 188px;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.dashboard-inner {
  position: absolute;
  top: 317px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-400);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 345px;
  height: 61px;
  mix-blend-mode: exclusion;
}
.call-history,
.ticket-details {
  position: absolute;
  top: 326px;
  left: 63px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.ticket-details {
  top: 394px;
  left: 50px;
}
.rectangle-div {
  position: absolute;
  top: 385px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-400);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 345px;
  height: 61px;
  mix-blend-mode: exclusion;
}
.call-center {
  position: absolute;
  top: 461px;
  left: 68px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.dashboard-child1,
.dashboard-child2 {
  position: absolute;
  top: 453px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-400);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 345px;
  height: 59px;
  mix-blend-mode: exclusion;
}
.dashboard-child2 {
  top: 517px;
  border: 2px solid var(--color-black);
  height: 61px;
}
.contract {
  position: absolute;
  top: 526px;
  left: 63px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.dashboard-child3,
.dashboard-child4,
.dashboard-child5,
.dashboard-child6 {
  position: absolute;
  top: 585px;
  left: -7px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-400);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 345px;
  height: 61px;
  mix-blend-mode: exclusion;
}
.dashboard-child4,
.dashboard-child5,
.dashboard-child6 {
  top: 653px;
  left: 0;
}
.dashboard-child5,
.dashboard-child6 {
  top: 721px;
}
.dashboard-child6 {
  top: 807px;
  border-radius: var(--br-mini);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  height: 215px;
}
.dashboard-child7,
.dashboard-child8 {
  position: absolute;
  top: 273px;
  left: 1519.7px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  box-shadow: 57.4px -57.4px 57.43px rgba(165, 165, 165, 0.11) inset,
    -57.4px 57.4px 57.43px rgba(255, 255, 255, 0.11) inset;
  backdrop-filter: blur(114.87px);
  width: 1047px;
  height: 676px;
  mix-blend-mode: overlay;
}
.dashboard-child8 {
  background-color: var(--color-gainsboro-300);
  box-shadow: 57.4px -57.4px 57.43px rgba(165, 165, 165, 0.05) inset,
    -57.4px 57.4px 57.43px rgba(255, 255, 255, 0.05) inset;
  backdrop-filter: blur(151.62px);
}
.dashboard-child9 {
  position: absolute;
  top: 54px;
  left: 345px;
  background-color: var(--color-gainsboro-400);
  box-shadow: 39.2px -39.2px 39.23px rgba(165, 165, 165, 0.1) inset,
    -39.2px 39.2px 39.23px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(78.47px);
  width: 1095px;
  height: 82px;
}
.ai,
.ticket-confimation-page {
  position: absolute;
  top: 71px;
  left: 370px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.ticket-confimation-page {
  left: 687px;
}
.dashboard-child10 {
  position: absolute;
  top: 241px;
  left: 370px;
  width: 1047px;
  height: 596px;
}
.service-type {
  position: absolute;
  top: 328px;
  left: 647px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  font-family: var(--font-neuton);
  color: var(--color-skyblue);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.ellipse-icon {
  position: absolute;
  top: 290px;
  left: 386px;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  object-fit: cover;
  mix-blend-mode: overlay;
}
.line-div {
  position: absolute;
  top: 254.5px;
  left: 612px;
  border-right: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 3px;
  height: 554px;
}
.call-agent {
  position: absolute;
  top: 234px;
  left: 103px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.decline1 {
  position: relative;
  font-weight: 800;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.decline-wrapper,
.summary {
  position: absolute;
  font-family: var(--font-neuton);
  color: var(--color-skyblue);
}
.decline-wrapper {
  top: 539px;
  left: 430px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-400);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-2xl);
  font-size: var(--font-size-xl);
}
.summary {
  top: 278px;
  left: 647px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.plumbing1 {
  position: relative;
}
.analyst-wrapper,
.plumbing-wrapper {
  position: absolute;
  top: 407px;
  left: 662px;
  border-radius: var(--br-mini);
  background-color: var(--color-skyblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.analyst-wrapper {
  top: 363px;
  background-color: var(--color-gray-400);
  color: var(--color-tan);
}
.electrician-wrapper,
.mechanic-wrapper {
  top: 363px;
  background-color: var(--color-skyblue);
}
.electrician-wrapper {
  position: absolute;
  left: 791px;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.mechanic-wrapper {
  left: 955px;
}
.home-address-wrapper,
.it-technitian-wrapper,
.mechanic-wrapper,
.other-address-wrapper {
  position: absolute;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.it-technitian-wrapper {
  top: 407px;
  left: 799px;
  background-color: var(--color-skyblue);
}
.home-address-wrapper,
.other-address-wrapper {
  top: 508px;
}
.home-address-wrapper {
  left: 662px;
  background-color: var(--color-gray-400);
  color: var(--color-tan);
}
.other-address-wrapper {
  left: 864px;
  background-color: var(--color-skyblue);
}
.jane1 {
  position: relative;
  display: inline-block;
  width: 54px;
  flex-shrink: 0;
}
.jane-wrapper {
  left: 662px;
  background-color: var(--color-skyblue);
}
.elice-wrapper,
.jane-wrapper,
.john-wrapper,
.sam-wrapper {
  position: absolute;
  top: 620px;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 92px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
  box-sizing: border-box;
}
.sam-wrapper {
  left: 792px;
  background-color: var(--color-gray-400);
  color: var(--color-tan);
}
.elice-wrapper,
.john-wrapper {
  left: 922px;
  background-color: var(--color-skyblue);
}
.elice-wrapper {
  left: 1045px;
}
.job-11 {
  position: relative;
  display: inline-block;
  width: 50px;
  flex-shrink: 0;
}
.component-1-child,
.job-1-wrapper,
.job-2-wrapper {
  position: absolute;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.job-1-wrapper {
  top: 736px;
  left: 662px;
  background-color: var(--color-gray-400);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
  color: var(--color-tan);
}
.component-1-child,
.job-2-wrapper {
  box-sizing: border-box;
}
.job-2-wrapper {
  top: 736px;
  left: 792px;
  background-color: var(--color-skyblue);
  width: 92px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.component-1-child {
  height: 100%;
  width: 86.61%;
  top: 0;
  right: 13.39%;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-black);
}
.login1 {
  position: absolute;
  height: 90.91%;
  width: 84.92%;
  top: 9.09%;
  left: 15.08%;
  font-weight: 800;
  display: inline-block;
}
.component-1,
.dashboard {
  position: absolute;
  top: 898px;
  left: 82px;
  width: 242px;
  height: 55px;
  font-size: var(--font-size-11xl);
  color: var(--color-skyblue);
}
.dashboard {
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  background-image: url(/public/dashboard@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-mini);
  color: var(--color-gray-400);
  font-family: var(--font-orbitron);
}
.incoming-call,
.john-doe {
  position: absolute;
  top: 306px;
  left: 484px;
  font-weight: 800;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.john-doe {
  top: 335px;
  font-size: var(--font-size-base);
}
.accept-wrapper {
  position: absolute;
  top: 470px;
  left: 409px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-400);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-11xl);
}
.job-type,
.location,
.technician {
  position: absolute;
  top: 458px;
  left: 648px;
  font-weight: 800;
  text-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.job-type,
.technician {
  top: 573px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.job-type {
  top: 696px;
  left: 659px;
}
.create-ticket-wrapper {
  position: absolute;
  top: 757px;
  left: 395px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-400);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-3xs);
}
.contract-details {
  position: absolute;
  top: 599px;
  left: 27px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.call-centre-confirmation {
  position: relative;
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-skyblue);
  font-family: var(--font-neuton);
}
