.dashboard-child11 {
  position: absolute;
  top: 14.69rem;
  left: 23.13rem;
  width: 65.44rem;
  height: 37.25rem;
}
.dashboard-child12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-500);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 21.56rem;
  height: 64rem;
  mix-blend-mode: exclusion;
}
.dashboard-child13 {
  position: absolute;
  top: 1.94rem;
  left: 4.88rem;
  border-radius: 50%;
  width: 11.75rem;
  height: 11.75rem;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.dashboard-child14 {
  position: absolute;
  top: 19.81rem;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-500);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21.56rem;
  height: 3.81rem;
  mix-blend-mode: exclusion;
}
.call-history3,
.ticket-details2 {
  position: absolute;
  top: 20.38rem;
  left: 3.94rem;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.ticket-details2 {
  top: 24.63rem;
  left: 3.13rem;
}
.dashboard-child15 {
  position: absolute;
  top: 24.06rem;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-500);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 21.56rem;
  height: 3.81rem;
  mix-blend-mode: exclusion;
}
.call-center1 {
  position: absolute;
  top: 28.81rem;
  left: 4.25rem;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.dashboard-child16,
.dashboard-child17 {
  position: absolute;
  top: 28.31rem;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-500);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21.56rem;
  height: 3.69rem;
  mix-blend-mode: exclusion;
}
.dashboard-child17 {
  top: 32.31rem;
  border: 2px solid var(--color-black);
  height: 3.81rem;
}
.contract1 {
  position: absolute;
  top: 32.88rem;
  left: 3.94rem;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.dashboard-child18,
.dashboard-child19,
.dashboard-child20,
.dashboard-child21 {
  position: absolute;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-500);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21.56rem;
  height: 3.81rem;
  mix-blend-mode: exclusion;
}
.dashboard-child18 {
  top: 36.56rem;
  left: -0.44rem;
}
.dashboard-child19,
.dashboard-child20,
.dashboard-child21 {
  top: 40.81rem;
  left: 0;
}
.dashboard-child20,
.dashboard-child21 {
  top: 45.06rem;
}
.dashboard-child21 {
  top: 50.44rem;
  border-radius: var(--br-mini);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  height: 13.44rem;
}
.dashboard-child22,
.dashboard-child23 {
  position: absolute;
  top: 17.06rem;
  left: 94.98rem;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  box-shadow: 57.4px -57.4px 57.43px rgba(165, 165, 165, 0.11) inset,
    -57.4px 57.4px 57.43px rgba(255, 255, 255, 0.11) inset;
  backdrop-filter: blur(114.87px);
  width: 65.44rem;
  height: 42.25rem;
  mix-blend-mode: overlay;
}
.dashboard-child23 {
  background-color: var(--color-gainsboro-300);
  box-shadow: 57.4px -57.4px 57.43px rgba(165, 165, 165, 0.05) inset,
    -57.4px 57.4px 57.43px rgba(255, 255, 255, 0.05) inset;
  backdrop-filter: blur(151.62px);
}
.dashboard-child24 {
  position: absolute;
  top: 3.38rem;
  left: 21.56rem;
  background-color: var(--color-gainsboro-400);
  box-shadow: 39.2px -39.2px 39.23px rgba(165, 165, 165, 0.1) inset,
    -39.2px 39.2px 39.23px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(78.47px);
  width: 68.44rem;
  height: 5.13rem;
}
.ai2,
.ticket-assignment-page {
  position: absolute;
  top: 4.44rem;
  left: 23.13rem;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.ticket-assignment-page {
  left: 42.94rem;
}
.dashboard-child25 {
  position: absolute;
  top: 18.13rem;
  left: 24.13rem;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  object-fit: cover;
  mix-blend-mode: overlay;
}
.dashboard-child27 {
  position: absolute;
  top: 15.91rem;
  left: 38.25rem;
  border-right: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 0.19rem;
  height: 34.63rem;
}
.call-agent1 {
  position: absolute;
  top: 14.63rem;
  left: 6.44rem;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.decline2 {
  position: relative;
  font-weight: 800;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.decline-container,
.job-type1 {
  position: absolute;
  font-size: var(--font-size-xl);
  font-family: var(--font-neuton);
  color: var(--color-skyblue);
}
.decline-container {
  top: 33.69rem;
  left: 26.88rem;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-500);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-2xl);
}
.job-type1 {
  top: 18.56rem;
  left: 40.5rem;
  font-weight: 800;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.plumbing2 {
  position: relative;
}
.analyst-container,
.electrician-container,
.home-address-container,
.it-technitian-container,
.mechanic-container,
.other-address-container,
.plumbing-container {
  position: absolute;
  top: 21.19rem;
  left: 41.38rem;
  border-radius: var(--br-mini);
  background-color: var(--color-skyblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.analyst-container,
.electrician-container,
.home-address-container,
.it-technitian-container,
.mechanic-container,
.other-address-container {
  left: 51.75rem;
}
.electrician-container,
.home-address-container,
.it-technitian-container,
.mechanic-container,
.other-address-container {
  left: 61.56rem;
}
.home-address-container,
.it-technitian-container,
.mechanic-container,
.other-address-container {
  left: 73.25rem;
}
.home-address-container,
.it-technitian-container,
.other-address-container {
  top: 24.88rem;
  left: 41.38rem;
}
.home-address-container,
.other-address-container {
  top: 31.75rem;
}
.other-address-container {
  left: 54rem;
}
.jane2 {
  position: relative;
  display: inline-block;
  width: 3.38rem;
  flex-shrink: 0;
}
.jane-container {
  left: 41.38rem;
  background-color: var(--color-skyblue);
  width: 5.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.jane-container,
.john-container,
.sam-container {
  position: absolute;
  top: 38.75rem;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.sam-container {
  left: 49.5rem;
  background-color: var(--color-skyblue);
  width: 5.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.john-container {
  left: 57.63rem;
}
.elice-container,
.job-1-container,
.john-container {
  background-color: var(--color-skyblue);
  width: 5.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.elice-container {
  position: absolute;
  top: 38.75rem;
  left: 65.31rem;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.job-1-container {
  top: 46rem;
  left: 41.38rem;
}
.component-1-inner,
.job-1-container,
.job-2-container {
  position: absolute;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.job-2-container {
  top: 46rem;
  left: 49.5rem;
  background-color: var(--color-skyblue);
  width: 5.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-mini);
}
.component-1-inner {
  height: 100%;
  width: 86.61%;
  top: 0;
  right: 13.39%;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-black);
}
.login3 {
  position: absolute;
  height: 90.91%;
  width: 84.92%;
  top: 9.09%;
  left: 15.08%;
  font-weight: 800;
  display: inline-block;
}
.component-12 {
  position: absolute;
  top: 56.13rem;
  left: 5.13rem;
  width: 15.13rem;
  height: 3.44rem;
  font-size: var(--font-size-11xl);
  color: var(--color-skyblue);
}
.dashboard2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90rem;
  height: 64rem;
  overflow: hidden;
  background-image: url(/public/dashboard@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-mini);
  color: var(--color-gray-500);
  font-family: var(--font-orbitron);
}
.incoming-call1,
.john-doe2 {
  position: absolute;
  top: 19.13rem;
  left: 30.25rem;
  font-weight: 800;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.john-doe2 {
  top: 20.94rem;
  font-size: var(--font-size-base);
}
.accept-container {
  position: absolute;
  top: 29.38rem;
  left: 25.56rem;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-500);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-11xl);
}
.client-history,
.location1,
.technician1 {
  position: absolute;
  top: 28.63rem;
  left: 40.5rem;
  font-weight: 800;
  text-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.client-history,
.technician1 {
  top: 35.81rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.client-history {
  top: 43.5rem;
  left: 41.19rem;
}
.create-ticket-container {
  position: absolute;
  top: 47.31rem;
  left: 24.69rem;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-500);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-3xs);
}
.contract-details2 {
  position: absolute;
  top: 37.44rem;
  left: 1.69rem;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.call-centre-v2 {
  position: relative;
  width: 100%;
  height: 64rem;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-skyblue);
  font-family: var(--font-neuton);
}

