.client-page-child,
.client-page-item {
  position: absolute;
  border-radius: var(--br-mini);
}
.client-page-child {
  top: 0;
  left: 37.19rem;
  background-color: rgba(0, 0, 0, 0.84);
  width: 52.81rem;
  height: 64rem;
}
.client-page-item {
  top: 58.31rem;
  left: 72.25rem;
  background-color: var(--color-skyblue);
  width: 16.13rem;
  height: 3.75rem;
}
.place-call {
  position: absolute;
  top: 59rem;
  left: 73.25rem;
  font-size: var(--font-size-11xl);
  font-weight: 800;
  font-family: var(--font-orbitron);
  color: var(--color-gray-500);
}
.client-page-inner {
  position: absolute;
  top: 2.25rem;
  left: 0;
  background-color: #011b26;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 90rem;
  height: 5.13rem;
  mix-blend-mode: overlay;
}
.ai6,
.john-doe- {
  position: absolute;
  top: 3.69rem;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  font-family: var(--font-inter);
}
.john-doe- {
  left: 7.63rem;
  display: inline-block;
  width: 12.13rem;
}
.ai6 {
  left: 20.38rem;
}
.client-page-child1,
.client-page-child2 {
  position: absolute;
  top: 12.06rem;
  left: 37.19rem;
  border-radius: var(--br-mini);
  width: 48.19rem;
  height: 42.44rem;
}
.client-page-child2 {
  left: 7rem;
  width: 20.5rem;
}
.client-page-child3,
.client-page-child4 {
  position: absolute;
  top: 13.94rem;
  left: 52.5rem;
  border-right: 8px solid var(--color-black);
  box-sizing: border-box;
  width: 0.5rem;
  height: 36.06rem;
}
.client-page-child4 {
  left: 69.25rem;
}
.call-history7,
.done,
.initiated,
.pending {
  position: absolute;
  top: 14.19rem;
  left: 74.63rem;
  font-weight: 800;
}
.call-history7,
.initiated,
.pending {
  left: 59.75rem;
}
.call-history7,
.initiated {
  left: 42.88rem;
}
.call-history7 {
  top: 13.69rem;
  left: 14.13rem;
}
.last-month1,
.last-week,
.this-week {
  position: absolute;
  top: 17.06rem;
  left: 14.25rem;
  font-weight: 800;
}
.last-month1,
.last-week {
  top: 29.5rem;
}
.last-month1 {
  top: 46.88rem;
  left: 13.69rem;
}
.client-page-child5,
.client-page-child6,
.client-page-child7 {
  position: absolute;
  top: 18.88rem;
  left: 39.81rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  width: 10.44rem;
  height: 2.56rem;
  mix-blend-mode: overlay;
}
.client-page-child6,
.client-page-child7 {
  top: 24.56rem;
  left: 39.75rem;
}
.client-page-child7 {
  top: 18.88rem;
  left: 56.56rem;
}
.client-page-child10,
.client-page-child11,
.client-page-child12,
.client-page-child13,
.client-page-child14,
.client-page-child15,
.client-page-child16,
.client-page-child8,
.client-page-child9 {
  position: absolute;
  top: 24.56rem;
  left: 73.31rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  width: 10.44rem;
  height: 2.56rem;
  mix-blend-mode: overlay;
}
.client-page-child10,
.client-page-child11,
.client-page-child12,
.client-page-child13,
.client-page-child14,
.client-page-child15,
.client-page-child16,
.client-page-child9 {
  top: 30.25rem;
  left: 39.81rem;
}
.client-page-child10,
.client-page-child11,
.client-page-child12,
.client-page-child13,
.client-page-child14,
.client-page-child15,
.client-page-child16 {
  top: 18.88rem;
  left: 73.31rem;
}
.client-page-child11,
.client-page-child12,
.client-page-child13,
.client-page-child14,
.client-page-child15,
.client-page-child16 {
  top: 19.81rem;
  left: 12rem;
}
.client-page-child12,
.client-page-child13,
.client-page-child14,
.client-page-child15,
.client-page-child16 {
  top: 24.25rem;
}
.client-page-child13,
.client-page-child14,
.client-page-child15,
.client-page-child16 {
  top: 33.19rem;
}
.client-page-child14,
.client-page-child15,
.client-page-child16 {
  top: 37.75rem;
}
.client-page-child15,
.client-page-child16 {
  top: 42.31rem;
}
.client-page-child16 {
  top: 49.75rem;
}
.client-page-child17,
.client-page-child18,
.client-page-child19 {
  position: absolute;
  top: 16.59rem;
  left: 8.28rem;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 17.94rem;
  height: 0.06rem;
}
.client-page-child18,
.client-page-child19 {
  top: 28.78rem;
}
.client-page-child19 {
  top: 46.16rem;
}
.component-1-child3 {
  position: absolute;
  height: 100%;
  width: 86.61%;
  top: 0;
  right: 13.39%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.login7 {
  position: absolute;
  height: 90.91%;
  width: 84.92%;
  top: 9.09%;
  left: 15.08%;
  font-weight: 800;
  display: inline-block;
}
.component-16 {
  position: absolute;
  top: 3.13rem;
  left: 72.63rem;
  width: 15.13rem;
  height: 3.44rem;
  font-size: var(--font-size-11xl);
  color: var(--color-skyblue);
  font-family: var(--font-orbitron);
}
.icon-call-received-1-1 {
  position: absolute;
  top: 24.75rem;
  left: 12.5rem;
  width: 2.06rem;
  height: 27.19rem;
  object-fit: cover;
}
.icon-call-received-5,
.icon-person-1 {
  position: absolute;
  top: 20.38rem;
  left: 12.75rem;
  width: 1.81rem;
  height: 1.63rem;
  object-fit: cover;
}
.icon-person-1 {
  top: 3.13rem;
  left: 1.81rem;
  width: 3.75rem;
  height: 3.19rem;
}
.client-page1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90rem;
  height: 64rem;
  overflow: hidden;
  background-image: url(/public/client-page@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: var(--color-white);
}
.outgoing-call {
  position: absolute;
  top: 19.81rem;
  left: 14.94rem;
  font-weight: 800;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.analyst-req,
.computer-req,
.electrician-req,
.it-technician-req,
.mechanic-req,
.plumbing-req {
  position: absolute;
  top: 19.25rem;
  left: 41.56rem;
  font-weight: 800;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.analyst-req,
.computer-req,
.electrician-req,
.it-technician-req,
.mechanic-req {
  top: 25rem;
}
.analyst-req,
.electrician-req,
.it-technician-req,
.mechanic-req {
  top: 19.38rem;
  left: 58.38rem;
}
.electrician-req,
.it-technician-req,
.mechanic-req {
  left: 75.19rem;
}
.electrician-req,
.it-technician-req {
  top: 25rem;
  left: 74.25rem;
}
.electrician-req {
  top: 30.75rem;
  left: 41.56rem;
}
.outgoing-call1,
.outgoing-call2,
.outgoing-call3,
.outgoing-call4,
.outgoing-call5 {
  position: absolute;
  top: 24.25rem;
  left: 14.94rem;
  font-weight: 800;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.outgoing-call2,
.outgoing-call3,
.outgoing-call4,
.outgoing-call5 {
  top: 33.19rem;
}
.outgoing-call3,
.outgoing-call4,
.outgoing-call5 {
  top: 37.81rem;
}
.outgoing-call4,
.outgoing-call5 {
  top: 42.31rem;
}
.outgoing-call5 {
  top: 49.75rem;
}
.div10,
.div11,
.div12,
.div7,
.div8,
.div9 {
  position: absolute;
  top: 20.81rem;
  left: 14.94rem;
  font-weight: 800;
  color: var(--color-white);
}
.div10,
.div11,
.div12,
.div8,
.div9 {
  top: 25.25rem;
}
.div10,
.div11,
.div12,
.div9 {
  top: 34.31rem;
}
.div10,
.div11,
.div12 {
  top: 38.75rem;
}
.div11,
.div12 {
  top: 43.38rem;
  left: 14.88rem;
}
.div12 {
  top: 50.88rem;
  left: 15rem;
}
.client-page {
  position: relative;
  width: 100%;
  height: 64rem;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-neuton);
}
